@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5c59ci');
  src:  url('fonts/icomoon.eot?5c59ci#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5c59ci') format('truetype'),
    url('fonts/icomoon.woff?5c59ci') format('woff'),
    url('fonts/icomoon.svg?5c59ci#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-radio404:before {
  content: "\1f4fb";
}
.icon-coeur:before {
  content: "\1f5a4";
}
.icon-lecture:before {
  content: "\25b6";
}
.icon-muet .path1:before {
  content: "\1f507";
}
.icon-muet .path2:before {
  content: "\1f508";
  margin-left: -1em;
}
.icon-muet .path3:before {
  content: "\1f509";
  margin-left: -1em;
}
.icon-muet .path4:before {
  content: "\1f50a";
  margin-left: -1em;
}
.icon-pause:before {
  content: "\23f8";
}
.icon-pouce-baisse:before {
  content: "\1f44e";
}
.icon-volume:before {
  content: "\1f39a";
}
