
.player{
  position: absolute;
  padding: 8px 0 0;
  button{
    display: block;
    border: none;
    padding: 0;
    &:focus{
      outline: none;
    }
  }
  &__buttons{
    position: absolute;
    left:300px;
  }
  &__button--icon{
    font-size:40.5px;
    &:before{
      display: block;
      position: relative;
      font-family: 'icomoon';
      line-height: 1em;
    }
  }

  &__volume{
    left:324px;
    top:-36px;
    border-left:solid 4px #fff;
    transform: rotate(26deg);
    &, &__zone{
      position: absolute;
      width:20px;
      height:100px;
    }
    &__zone{
      left:0;
      left:-4px;
    }
    &:before,&__value{
      pointer-events: none;
      content:'';
      display: block;
      position: absolute;
      height:100%;
      width:13px;
      right:0;
      bottom:0;
      background:url('../images/graduation-volume.svg') repeat-y bottom right;
    }
    &:before{
      opacity: .5;
    }
  }
}
@keyframes blink {
  0%{
  }
  50% {
    transform: scale(2);
  }
  100%{
  }
}
@-webkit-keyframes blink {
  0%{
  }
  50% {
    -webkit-transform: scale(2);
  }
  100%{
  }
}
.play-button{
  position: absolute;
  display: block;
  background:#fff;
  border-radius: 100%;
  width:54px;
  height:54px;
  transform: translate(-46px, -25px);
  color:#000;
  &:before,&:after{
    content:'•';
    display: block;
    line-height: 1.25em;
    position: absolute;
    transition: transform .2s, opacity .2s;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  &:before{
    content: "\25b6";
    margin: 3px 0 0 8px;
  }
  &:after{
    transform: scale(0);
    opacity: 0;
  }
  &--loading, &--unloaded{
    &:before{
      transform:scale(0);
    }
    &:after{
      transform: scale(1);
      opacity: 1;
      animation: blink 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
    }
  }
  &--playing{
    &:before{
      content: "\23f8";
      margin: 3px 0 0;
    }
  }
}
.mute-button {
  position: absolute;
  display: block;
  border-radius: 100%;
  width: 54px;
  height: 54px;
  font-size: 54px;
  top: 55px;
  transform: rotate(8deg);
  color: #fff;
  background: none;

  &:before {
    content: "\1f514";
    margin: 1px 0 0;
  }

  &.muted {
    &:before {
      content: "\1f515";
    }
  }
}
.like-buttons{
  position: absolute;
  display: block;
  top:0;
  right:11px;
  bottom:0;
  margin: auto;
  width:54px;
  height:54px;
  &__alts{
    position: absolute;
    width:160px;
    height:160px;
    background: #fff;
    border-radius: 100%;
    left: -54px;
    top: -54px;
    transition: transform .25s .25s ease-in;
    transform:scale(0);
  }
  &:hover &__alts{
    transition: transform .25s ease-out;
    transform:scale(1);
  }
}
.like-button{
  position: absolute;
  display: block;
  background:transparent;
  border-radius: 100%;
  width:54px;
  height:54px;
  font-size:54px;
  transform: rotate(-8deg);
  color:#000;
  top:0;
  left:0;
  text-align: center;
  &:before{
    content: "\2665";
    margin: 1px 0 0;
    transition: transform .5s;
  }
  &:hover{
    img, &:before{
      transform:scale(1.2);
    }
  }
  &--alt{
    margin:auto;
    bottom:0;
    right:0;
    &:before{
      content:none;
    }
    img{
      font-size:.5em;
      position:absolute;
      height: 1em;
      width: 1em;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      margin: auto;
      transition: transform .5s;
    }
    $total : 7;
    @for $i from 0 to 8{
      &:nth-child(#{$i}n){
        $angle-norm : $i/($total);
        $angle-rad : $PI*2*$angle-norm;
        $angle-deg : 360*$angle-norm;

        $x : sin($angle-rad) * 54px;
        $y : cos($angle-rad) * 54px;
        transform: translate($x,$y) rotate(#{$angle-deg*0 - 8}deg);
      }
    }
  }
}

.now-playing{
  background:#fff;
  width:300px;
  height:76px;
  padding: 16px 76px 16px 16px;
  position: relative;
  margin: 0 0 0;
  transform-origin: top left;
  transform: rotate(8deg);
  &__track, &__artist{

  }
  &__artist{
    font-weight: 900;
  }
  &__cover{
    position: absolute;
    width:200px;
    height:200px;
    background: #808080;
    top:105px;
    left:20px;
    transform-origin: top left;
    transform: rotate(-8deg);
    transition: .5s;
    border:solid 1px #000;
  }
}
@keyframes track-scroll-left {
  0% {
    transform: translateX(100%) translate(20px);
  }
  100% {
    transform: translateX(0);
  }
}
.player__label{
  width:auto;
  overflow: hidden;
  white-space: nowrap;
  line-height: 22px;
  height:22px;
  padding: 0 16px;
  margin: 0 -16px;
  position: relative;
  &__fade{
    position: absolute;
    width:100%;
    display: block;
    left:0;
    top:0;
    &:after{
      content:'';
      display: block;
      position: absolute;
      width:16px;
      height:22px;
      background:linear-gradient(0.25turn,#ffffff00, #ffffffff);
      right:0;
      top:0;
    }
  }
  &:after{
    left:auto;
    right:0;
  }
  &__text{
    display: inline-block;
    position: relative;
    span{
      display: block;
      &:before{
        content:'↪';
        display: none;
        position: absolute;
        left:-20px;
        top:0;
        width:20px;
        font-size:.8em;
        text-align: center;
        color:#808080;
      }
    }
    :first-child{
      position: absolute;
      transform:translateX(-100%) translateX(-20px);
    }
    &--animate{
      span{
        &:before{
          display: block;
        }
      }
      animation: track-scroll-left 10s linear infinite;
    }
  }
}