
@import "~normalize.css";
@import "containers";

html,body{
  //font-family: sans-serif;
  font-size:18px;
}

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.site-header{
  @include container;
  position: relative;
  &__logo{
    margin: -30px 0 0 37px;
    position: relative;
    img,&:before{
      display: block;
      border-radius: 100%;
      position: relative;
    }
    &:before{
      content:'';
      width:700px;
      height:700px;
      background:black;
      position: absolute;
      transform: translate(-200px,-200px);
    }
    &,img{
      width:300px;
      height:300px;
    }
    img{
      background:#fff;
    }
    span{
      display: none;
    }
  }
}

.player{
  position: relative;
  button{
    display: block;
    border: none;
    padding: 0;
    &:focus{
      outline: none;
    }
  }
  &__buttons{
    position: absolute;
    left:300px;
  }
  &__button--icon{
    font-size:40.5px;
    &:before{
      display: block;
      position: relative;
      font-family: 'icomoon';
      line-height: 1em;
    }
  }

  &__volume{
    position: absolute;
    width:20px;
    height:100px;
    left:324px;
    top:-36px;
    border-left:solid 4px #fff;
    transform: rotate(26deg);
    &:before,&__value{
      content:'';
      display: block;
      position: absolute;
      height:100%;
      width:13px;
      right:0;
      bottom:0;
      background:url('../images/graduation-volume.svg') repeat-y bottom right;
    }
    &:before{
      opacity: .5;
    }
  }
}

.play-button{
  position: absolute;
  display: block;
  background:#fff;
  border-radius: 100%;
  width:54px;
  height:54px;
  transform: translate(-46px, -25px);
  color:#000;
  &:before{
    content:'▶️';
    margin: 1px 0 0 8px;
  }
  &.playing{
    &:before{
      content:'⏸';
      margin: 1px 0 0;
    }
  }
}
.mute-button {
  position: absolute;
  display: block;
  border-radius: 100%;
  width: 54px;
  height: 54px;
  font-size: 54px;
  top: 55px;
  transform: rotate(8deg);
  color: #fff;
  background: none;

  &:before {
    content: '🔈️';
    margin: 1px 0 0;
  }

  &.muted {
    &:before {
      content: '🔇';
    }
  }
}

.like-button{
  position: absolute;
  display: block;
  background:#fff;
  border-radius: 100%;
  width:54px;
  height:54px;
  font-size:54px;
  transform: rotate(-8deg);
  color:#000;
  top:0;
  right:11px;
  bottom:0;
  margin: auto;
  text-align: center;
  &:before{
    content:'🖤️️';
    margin: 1px 0 0;
  }
}

.now-playing{
  background:#fff;
  width:300px;
  height:76px;
  padding: 16px 76px 16px 16px;
  position: relative;
  margin: 8px 0 0;
  transform-origin: top left;
  transform: rotate(8deg);
  &__track, &__artist{
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 22px;
    height:22px;
  }
  &__artist{
    font-weight: 900;
  }
  &__cover{
    position: absolute;
    width:128px;
    height:128px;
    background: #808080;
    top:105px;
    left:20px;
    transform-origin: top left;
    transform: rotate(-8deg);
    filter: grayscale(100%);
    transition: .5s;
    border:solid 1px #000;
    //box-shadow: 0 0 20px rgba(0,0,0,.1);
    &:hover{
      filter: grayscale(0%);
    }
  }
}

main{
  visibility: hidden;
}